<h1>{{pageTitle}}</h1>
<form action="/contact-form" method="POST">
  <label for="senderName">Name:</label>
  <input type="text" name="senderName" id="senderName" placeholder="john" />
  <label for="emailRecipient">To:</label>
  <input
    type="email"
    name="emailRecipient"
    id="emailRecipient"
    placeholder="john@info.com"
  />
  <label for="message">Message:</label>
  <textarea
    name="message"
    id="message"
    cols="33"
    rows="5"
    maxlength="1000"
  ></textarea>

  <button type="submit">Submit</button>
</form>
