<h1>Welcome to Profolio!</h1>
<p>Begin creating your personal portfolio quickly and intuitively.</p>

<div class="home-buttons">
    <a href="/create" class="button-create">Create Portfolio!</a>
    <a href="/users/signup" class="button-signup">Sign Up</a>
    <a href="/users/login" class="button-login">Log In</a>
    <a href="/portfolios/examples" class="button-examples">View Some Examples</a>
</div>

<section class="example-portfolios">
    <h2>Example Portfolios</h2>
    {{#if examples}}
        <ul>
        {{#each examples}}
            <li><a href ="/portfolio/{{this._id}}">{{this.title}}</a></li>
        {{/each}}
        </ul>
    {{else}}
        <p>No examples exist!</p>
    {{/if}}
</section>

<section class="features">
    <h2>Features</h2>
    <ul>
        <li>Pre-formatted sections</li>
        <li>Theme customization system</li>
        <li>Super flexible page layouts</li>
        <li>User profile and portfolio dashboard</li>
    </ul>
</section>