<h1>Log In</h1>
<p id="loginDescription">Fill out the form below to Log In</p>

<form action="/users/login" method="POST" class="login-form" id="login-form">
  <label>
    Username:
    <input
      type="text"
      id="loginUsername"
      name="loginUsername"
      minlength="3"
      pattern="\w{3,16}"
      required
      autofocus
    />
  </label>
  <label>
    Password:
    <input
      type="password"
      id="loginPassword"
      name="loginPassword"
      minlength="8"
      pattern="[A-Za-z\d@$!%*?&]{8,}"
      required
    />
  </label>
  <button type="submit">Login</button>
</form>
<br />
